.english-true {
    color: white;
}

.language-button {
    background-color: black;
    margin: 4px;
}

.languages {
    display: flex;
    flex-direction: column;
}

.portuguese-true {
    color: white;
}

@media (max-width: 768px) {
    .language-button {
        margin-top: 16px;
    }
    .languages {
        flex-direction: row;
    }
}