.Project {
    display: flex;
    flex-direction: column;
}

.Projects {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Projects img {
    height: 100%;
    width: 100%;
}

.ProjectButton {
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 50%;
}

.ProjectsContent h2 {
    color: white;
    font-size: 21px;
}

@media (max-width: 768px) {
    .ProjectButton {
        width: fit-content;
        margin: 0px;
    }
    .ProjectsContent h3 {
        font-size: 12px;
    }
}