.edu-box {
    margin: 32px;
}

.edu-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.edu-container h2 {
    color: white;
}

.education-content {
    width: 100%;
}

.education-image {
    margin: 16px 8px 8px 8px;
    width: 128px;
}

.edu-info {
    width: 40%;
}

.edu-title {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .exp-box {
        margin: 16px;
    }
    .exp-info {
        width: 100%;
    }
}