.chevron {
    fill: white;
    width: 24px;
    height: 24px;
}

.top-anchor {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 100%;
    bottom: 0px;
    display: flex;
    height: 48px;
    justify-content: center;
    margin: 32px;
    position: fixed;
    right: 0px;
    width: 48px;
}

.top-anchor:hover {
    background-color: white;
    transition: all 0.5s ease;
}

.top-anchor:hover .chevron {
    fill: black;
    transition: all 0.5s ease;
}

@media (max-width: 768px) {
    .top-anchor {
        margin: 16px;
    }
}