.skills-box {
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    height: 128px;
    justify-content: center;
    margin: 16px 8px;
    width: 128px;
}
  
.skills-box:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 1);
    transition: all 0.5s ease;
}

.skills-box:hover .animated-svg .black-to-gray {
    fill: rgb(76, 76, 76);
    transition: fill 0.5s ease;
}

.skills-box:hover h3 {
    color: white;
    transition: all 0.5s ease;
}
  
.skills-box h3 {
    margin-top: 4px;
}

@media (max-width: 768px) {
    .skills-box {
        height: 72px;
        margin: 8px;
        padding: 8px;
        width: 72px;
    }
}