.exp-box {
    margin: 32px;
}

.exp-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.exp-container h2 {
    color: white;
}

.experiences-content {
    width: 100%;
}

.experiences-image {
    margin: 16px 8px 8px 8px;
    width: 128px;
}

.exp-info {
    width: 30%;
}

.exp-title {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .exp-box {
        margin: 16px;
    }
    .exp-info {
        width: 100%;
    }
}