.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    width: 60%;
}

.lgcs {
    border-radius: 100%;
    height: 300px;
    margin: auto;
}

@media (max-width: 768px) {
    .home {
        width: fit-content;
    }
    .lgcs {
        height: 144px;
        margin-top: 16px;
    }
}