.contact {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.contact-content {
    width: 100%;
}

.contact-description {
    margin-bottom: 16px;
    margin-top: 16px;
}

.contact h2 {
    color: white;
}

.icon {
    border-radius: 0px;
    margin-right: 8px;
    width: 24px;
}