.footer {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 128px;
    justify-content: center;
}

.footer-text {
    margin: 16px 8px 0px 8px;
}

@media (max-width: 768px) {
    .footer-text {
        margin: 0px 8px 16px 8px;
    }
}