a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none; 
}

html {
  scroll-behavior: smooth;
  user-select: text;
  background-color: black;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 24px;
  border-bottom: 2px solid rgb(255, 255, 255, 0.6);
}

h2 {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0;
  font-size: 18px;
  color: rgb(255, 255, 255, 0.6);
}

h2:hover {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease;
}

h3 {
  color: rgb(255, 255, 255, 0.6);
  margin: 0;
  padding: 0;
  font-size: 14px;
}

h3:hover {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease;
}

h4 {
  display: flex;
  flex-wrap: wrap;
  color: rgb(255, 255, 255, 0.6);
  margin: 0;
  padding: 0;
  font-size: 12px;
}

img {
  margin: 0;
  border-radius: 16px;
}

h4:hover {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease;
}

Main {
  background-color: rgb(16, 16, 16);
  height: 800px;
  margin: 0;
  padding-bottom: 32px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
      font-size: 12px;
  }
}