.menu-tab {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
}

@media (max-width: 768px) {
    .menu-tab {
        padding: 0px;
    }
}