.pro-box {
    margin: 32px;
}

.pro-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.pro-container h2 {
    color: white;
}

.professional-content {
    width: 100%;
}

.professional-image {
    margin: 16px 8px 8px 8px;
    width: 128px;
}

.pro-info {
    width: 40%;
}

.pro-title {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .pro-box {
        margin: 16px;
    }
    .pro-info {
        width: 100%;
    }
}