.background {
    align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-home { 
    background-image: url("../../images/home.jpg");
    min-height: 86vh;
}

.img-about { 
    background-image: url("../../images/about.jpg");
    min-height: 50vh;
}

.img-skills { 
    background-image: url("../../images/skills.jpg");
    min-height: 50vh;
}

.img-education { 
    background-image: url("../../images/education.jpg");
    min-height: 50vh;
}

.img-professional { 
    background-image: url("../../images/professional.jpg");
    min-height: 50vh;
}

.img-projects { 
    background-image: url("../../images/projects.jpg");
    min-height: 50vh;
}

.img-contact { 
    background-image: url("../../images/contact.jpg");
    min-height: 50vh;
}

@media (max-width: 768px) {
    .background {
        width: 100vw;
    }
    .img-home {
        height: 100%;
    }
}