.Background {
    align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: calc(var(--vw, 1vw) * 100);
}

.ImgHome { 
    background-image: url("../../images/home.jpg");
    height: 86vh;
}

.ImgAbout { 
    background-image: url("../../images/about.jpg");
    min-height: 50vh;
}

.ImgSkills { 
    background-image: url("../../images/skills.jpg");
    min-height: 50vh;
}

.ImgExperiences { 
    background-image: url("../../images/experiences.jpg");
    min-height: 50vh;
}

.ImgProjects { 
    background-image: url("../../images/projects.jpg");
    min-height: 50vh;
}

.ImgContact { 
    background-image: url("../../images/contact.jpg");
    min-height: 50vh;
}

@media (max-width: 768px) {
    .Background {
        width: 100vw;
    }
    .ImgHome {
        height: 100%;
    }
}